<div class="col-md-8 col-md-offset-2">
<table class="table table-bordered" id="checkoutTable">
  <thead>
    <th>Tea</th>
    <th>Information</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Remove</th>
  </thead>
  <tbody>
    <tr ng-repeat="buyItem in buy track by $index">
      <td><img ng-src="{{buyItem.info.imageUrl}}" alt="{{buyItem.info.name}}"></td>
      <td>
        <h3>{{buyItem.info.name}}</h3><hr>
        <strong>Price: </strong>{{buyItem.info.price | currency}} <br>
        <strong>Caffeine Scale: </strong>{{buyItem.info.caffeineScale}}
      </td>
      <td>
        <strong>{{buyItem.qty}}</strong>
        <div class="editForm center-block"><u ng-click="toggleEditForm(buyItem)">Edit</u>
          <form ng-submit="editQty(item.qty, $index)" name="editForm" ng-show="buyItem.editForm">
            <input type="text" ng-model="item.qty" class="form-control">
            <input type="submit" class="btn btn-info form-control" >
          </form>
        </div>
      </td>
      <td>
        <strong>{{buyItem.info.price * buyItem.qty | currency}}</strong>
      </td>
      <td>
        <button ng-click="removeItem($index)" class="btn btn-danger">X</button>
      </td>
    </tr>
  </tbody>
</table>
<br><br>
<hr>
<h3 class="pull-right">Total: {{getTotal() | currency}} </h3>
</div>