<div class="col-md-8 col-md-offset-2">

<div id="search">
  <strong>Search by Category&nbsp;&nbsp;</strong><select ng-model="search.category" ng-options="category for category in teas | flatten">
  </select>&nbsp;&nbsp;

  <strong>Search by Name&nbsp;&nbsp;</strong><input ng-model="search.name">
  </input>
</div>


  <table class="table table-bordered">
    <thead>
      <th>Tea</th>
      <th>Information
        <div id="sort" class="pull-right">
          <strong>Sort by Price</strong>
          <select ng-model="sort.price">
            <option value="-price">High to Low</option>
            <option value="price">Low to High</option>
          </select>          
        </div>
      </th>
      <th>Quantity</th>
    </thead>
    <tbody>
      <tr ivy-tea-info ng-repeat="tea in teas | filter:search.category:strict | filter:search.name:strict | orderBy:sort.price track by $index" tea="tea" qty="qty"></tr>     
    </tbody>
  </table>
</div>