<td><img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}">
<!-- <strong>Caffeine Scale: </strong>{{tea.caffeineScale}} -->
<div caffeine-scale caffeinemg="{{tea.caffeineScale}}" id="tea._id"></div>
</td>
<td>
  <h3>{{tea.name}}</h3>
  <strong>Price: </strong>{{tea.price | currency}} <br><br>
  <strong>Ingredients: </strong>
  <span ng-repeat="ingredient in tea.ingredients track by $index">{{ingredient}}</span><br><br>
  <strong>Rating: </strong>{{tea.rating}} <br><br>
  <strong>In Stock? </strong>{{tea.inStock}} <br><br>
  <strong>Categories: </strong> <br>
  <ul>
    <li ng-repeat="category in tea.categories track by $index">{{category}}</li>
  </ul>
</td>
<td id="qtyCol">
  <select ng-model="tea.qty" ng-options="q for q in qty" ng-init="tea.qty = qty[0]"></select>
  <button ng-click="addToBag({index:index,qty:tea.qty})" class="btn btn-warning">Add to Bag</button>
</td>